.container{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 200px;
}

.calculadora{
    /*Establecer que el contenido se va a distribuir visualmente en una cuadricula*/
    display: grid; 
    grid-template-columns: 75px 75px 75px 75px;/*Tamaño de las columnas, en este caso 3*/
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    padding: 15px; /*Un solo valor en los 4 lados*/
    border: 2px solid rgb(12, 80, 57);
    border-radius: 35px;
    background-color: rgba(133, 224, 224);
    box-shadow: 15px 15px 15px rgb(74, 78, 77);
}

.display{
    grid-column: span 4;
    border: 5px none rgb(5, 109, 74);
    border-radius: 50px;
    background-color: rgb(196, 236, 236);
    text-align: right;
    font-size: 35px;
    padding: 15px;
    color: #000;
    padding-right: 25px;
    margin-bottom: 10px;
}

#teclac{
    grid-column: span 2; 
    background-color: rgb(39, 216, 201);
}

#tecla0{
    grid-column: span 2;
    background-color: rgb(69, 191, 228);
}

button{
    cursor: pointer; /*Para camiar el puntero*/
    margin: 3px; 
    padding: 10px; 
    border-radius: 50px;
    border: 2px solid rgb(121, 173, 162);
    background-color: rgb(211, 247, 247);
    font-size: 40px;
    color: #000;
    box-shadow: 3px 2px 2px 2px rgb(20, 20, 20,0.3);
}

/*El orden si importa entre hover y active*/

button:hover{
    background-color: rgb(36, 230, 230);
}

button:active{
    background-color: rgb(4, 111, 153);
}
